.scrollbar {
    &::-webkit-scrollbar {
        width: 0.45rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #6366f1;
    }
}
